
<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes"></div>
    </div>
</div>
<!-- / END PRELOADER -->

<!-- START HOMEPAGE DESIGN AREA -->
<header id="home" class="welcome-area">
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- START LOGO DESIGN AREA -->
                    <div class="logo">
                        <a href="#">Nest</a>
                    </div>
                    <!-- END LOGO DESIGN AREA -->
                </div>
                <div class="col-sm-9">
                    <!-- START MENU DESIGN AREA -->
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                    </li>
                                    <li><a class="smoth-scroll" href="#about">About</a>
                                    </li>
                                    <li><a class="smoth-scroll" href="#service">How It Works</a>
                                    </li>
                                    <li><a class="smoth-scroll" href="#work">How To Make Money</a>
                                    </li>
                                    <li><a class="smoth-scroll" href="#testimonial">Reviews</a>
                                    </li>
                                    <li><a class="smoth-scroll" href="#contact">Contact</a>
                                    </li>
<!--                                         <li><a class="smoth-scroll" href="blog.html">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">blog page</a></li>
                                                <li><a href="single-blog.html">single blog</a>
                                                </li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
        <div class="welcome-image-area" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-text text-center">
                                    <h1 class="typewrite">Hi, Welcome To Nest!</h1>
                                    <div class="social-links header-links">
                                        <ul>
                                            <li><a href="https://www.facebook.com/NestApps/"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.facebook.com/NestApps/"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.facebook.com/NestApps/"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="https://www.facebook.com/NestApps/"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <%= link_to "http://nesting.me" do %>
                                      <button class="btn btn-primary">Use Nesting</button>
                                    <% end %>
                                    <div class="home-arrow-down">
                                        <a href="#about" class="smoth-scroll btn"><i class="fa fa-angle-double-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- / END HOMEPAGE DESIGN AREA -->


    <!-- START ABOUT DESIGN AREA -->
    <section id="about" class="about-me-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>About Nest</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- START ABOUT IMAGE AREA -->
                    <div class="about-image">
                        <img src="<%= asset_path( 'about_3.jpeg' ) %>" alt="">
                    </div>
                    <!-- / END ABOUT IMAGE AREA -->
                </div>
                <div class="col-md-6">
                    <!-- START ABOUT TEXT AREA -->
                    <div class="about-text">
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Nest Nest Nest Nest Nest Nest Nest Nest Nest Nest .</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.6s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining </p>
                    </div>
                    <!-- / END ABOUT TEXT AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END ABOUT DESIGN AREA -->


    <!-- START SERVICES DESIGN AREA -->
    <section id="service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>How It Works?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-6 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.2s">
                        <i class="fa fa-building"></i>
                        <h2>Chat People</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-6 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.4s">
                        <i class="fa fa-keyboard-o"></i>
                        <h2>Social Media Integration</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-6 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.6s">
                        <i class="fa fa-paper-plane"></i>
                        <h2>Adversiting Chat Room</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-6 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.8s">
                        <i class="fa fa-deaf"></i>
                        <h2>Earn Money</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END SERVICES DESIGN AREA -->


    <!-- START WORK DESIGN AREA -->
    <section id="work" class="work section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>How To Make Money</h2>
                    </div>
                </div>
            </div>
          <!--   <div class="row">
                <ul class="work">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".webdesign">webdesign</li>
                    <li class="filter" data-filter=".development">development</li>
                    <li class="filter" data-filter=".photography">photography</li>
                </ul>
            </div> -->
            <div class="work-inner">
                <div class="row work-posts grid">
                    <div class="col-md-12 col-sm-12 mix webdesign">
                        <div class="item">
                            <!-- <figure class="effect-ruby"> -->
                            <img src="<%= asset_path( 'money_1.jpg' ) %>" alt="image">
                            <!-- </figure> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / END START WORK DESIGN AREA -->


        <!-- START TESTIMONIAL DESIGN AREA -->
        <section id="testimonial" class="testimonial-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title">
                            <h2>Reviews!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial-list">
                            <!-- START SINGLE TESTIMONIAL DESIGN AREA -->
                            <div class="single-testimonial text-center">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                                <h2>mark jukarbarg</h2>
                                <h3>CEO facebook</h3>
                            </div>
                            <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                            <!-- START SINGLE TESTIMONIAL DESIGN AREA -->
                            <div class="single-testimonial text-center">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                                <h2>mark jukarbarg</h2>
                                <h3>CEO facebook</h3>
                            </div>
                            <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                            <!-- START SINGLE TESTIMONIAL DESIGN AREA -->
                            <div class="single-testimonial text-center">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                                <h2>mark jukarbarg</h2>
                                <h3>CEO facebook</h3>
                            </div>
                            <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / END TESTIMONIAL DESIGN AREA -->



        <!-- START CONTACT DESIGN AREA -->
        <section id="contact" class="contact-me-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>contact us!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="contactForm" class="contact-form" action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input id="name" class="form-control" type="text" name="name" placeholder="Name" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input id="email" class="form-control" type="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea id="message" class="form-control" placeholder="Message" rows="4" required></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn" type="submit">Submit Now</button>
                                </div>
                                <div class="col-md-12 text-center">
                                    <p class="input-success">We have received your mail, We will get back to you soon!</p>
                                    <p class="input-error">Sorry, Message could not send! Please try again.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- / END CONTACT DESIGN AREA -->

        <!-- START FOOTER DESIGN AREA -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="social-links">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <!-- <li><a href=""><i class="fa fa-dribbble"></i></a></li> -->
                                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <p>&copy;Copyright 2017 Nest | All RightReserved.</p>
                    </div>
                </div>
            </div>
        </footer>

